
<h2>Lost Kittien</h2>

<% @animals.each do |animal| %>

<h2><%= animal.name %></h2>
<h3><%= animal.category %></h3>
<h2><%= animal.found_at %></h3>
<%= link_to "checkit", animal_path(animal) %>

<% end %>
